{% extends 'app.twig' %}
{% set page = 'clients' %}

{% block title %}Klienci{% endblock %}

{% block content %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h1>Klienci</h1>
        </div>
        <div class="col text-right">
        {% if modify_access %}
            <button class="btn btn-success" id="addNew">Dodaj</button>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Adres</th>
        {% if modify_access %}
            <th scope="col">Szczegóły</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.first_name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.address }}</td>
        {% if modify_access %}
                    <td><a href="clients.php?id={{client.id}}">Zobacz</a></td>
            {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $("#addNew").click(() => {
            window.location += "?new=1";
        })
    </script>
{% endblock %}