{% extends 'app.twig' %}
{% set page = 'clients' %}

{% block title %}Klient{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-4">
        {% if client.id is defined %}
            Klient #{{ client.id }}
        {% else %}
            Nowy klient
        {% endif %}
    </h1>
    <form>
        <div class="form-group">
            <label>Imię</label>
            <input class="form-control" name="first_name" value="{{ client.first_name }}">
        </div>
        <div class="form-group">
            <label>Nazwisko</label>
            <input class="form-control" name="first_name" value="{{ client.last_name }}">
        </div>
        <div class="form-group">
            <label>Adres</label>
            <textarea class="form-control" name="address">{{ client.address }}</textarea>
        </div>
        <div class="form-group">
            <label>Telefon</label>
            <input class="form-control" name="phone" value="{{ client.phone }}">
        </div>
        {% if client.id is defined %}
        <button type="submit" class="btn btn-primary">Edytuj</button>
        <button type="button" class="btn btn-danger" id="delete">Usuń</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Dodaj</button>
        {% endif %}
        <script>
            $("#delete").click(() => {
                window.location = window.location + "&delete=1";
            })
        </script>
    </form>
{% endblock %}