{% extends 'app.twig' %}
{% set page = 'productions' %}

{% block title %}Produkcja{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-4">Produkcja #{{ production.id }}</h1>
    <form>
        <div class="form-group">
            <label>Tytuł</label>
            <input class="form-control" name="first_name" value="{{ production.name }}">
        </div>
        <div class="form-group">
            <label>Gatunek</label>
            <input class="form-control" name="first_name" value="{{ production.genre }}">
        </div>
        <div class="form-group">
            <label>Premiera</label>
            <input class="form-control" name="address" value="{{ production.premiere }}"/>
        </div>
        <div class="form-group">
            <label>Budżet</label>
            <input class="form-control" name="phone" value="{{ production.costs }}">
        </div>
        <div class="form-group">
            <label>ID zlecającego</label>
            <input class="form-control" name="contracting_id" value="{{ production.contracting_id }}">
        </div>
        <button type="submit" class="btn btn-primary">Edytuj</button>
        <button type="button" class="btn btn-danger" id="delete">Usuń</button>
        <script>
            $("#delete").click(() => {
                window.location = window.location + "&delete=1";
            })
        </script>
    </form>
{% endblock %}