{% extends 'app.twig' %}
{% set page = 'staff' %}

{% block title %}Pracownicy{% endblock %}

{% block content %}
    <div class="row mt-5 mb-4">
        <div class="col">
            <h1>Pracownicy</h1>
        </div>
        <div class="col text-right">
        {% if modify_access %}
            <button class="btn btn-success" id="addNew">Dodaj</button>
        {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Stanowisko</th>
                <th scope="col">Adres</th>
        {% if modify_access %}
                <th scope="col">Szczegóły</th>
        {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for worker in staff %}
                <tr>
                    <td>{{ worker.id }}</td>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.last_name }}</td>
                    <td>{{ worker.position_name }}</td>
                    <td>{{ worker.address }}</td>
        {% if modify_access %}
                    <td>
                        <a href="staff.php?id={{worker.id}}">Zobacz</a>
                    </td>
        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $("#addNew").click(() => {
            window.location += "?new=1";
        })
    </script>
{% endblock %}